.sidebar{

background-color: white;
position: fixed;
left: 0;
bottom: 0;
top: 55px;
width: 70px;
}

.sidebar-link{
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sidebar-link:hover{
    background-color: rgb(227, 226, 226);
}

.sidebar-link img{
    height: 25px;
}

.sidebar-link div{
    font-family: Roboto, arial;
    font-size: 10px;
}
